.elements {
  width: 80vw;
  max-width: 880px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 17px;
  row-gap: 20px;
  padding-left: 10vw;
  padding-top: 5vh;
}
.element {
  width: 25vw;
  height: calc(25vw * 1.3);
  border: 0;
  background-color: #fff;
  border-radius: 7px;
  padding: 32px 40px 20px 32px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* .element__like {
  width: 50px;
  height: 50px;
  border: 1px red solid;
} */
.element__piccontainer {
  width: 25vw;
  height: 25vw;
  margin: 0;
  padding: 0;
}
.element__pic {
  width: 25vw;
  height: 25vw;
  border-radius: 6px;
}
.element__group {
  display: flex;
  justify-content: space-between;
  /* border: red 1px solid; */
}
.element__name-container {
  /* border: 1px red solid; */
  display: block;
  width: 20vw;
  height: 10vh;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.element__name {
  font-family: Inter;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: black;
  padding-left: 10px;
}

.element__vec-container {
  margin: 0;
  padding-top: 25px;
  padding-right: 8px;
  /* border: 1px green solid;/ */
}
.element__vec-container_dark {
  margin: 0;
  height: 25px;
  /* padding-top: 30px; */
  padding-left: 10px;
  background-color: rgba(79, 79, 129, 0.8);
}

/* Contenido responsivo */
/*                      */
@media screen AND (max-width: 900px) {
  .element__name {
    font-size: 20px;
  }
}

@media screen AND (max-width: 700px) {
  .element__name {
    font-size: 12px;
  }
  .element__vec-container {
    padding-top: 10px;
  }
}
@media screen AND (max-width: 320px) {
  .elements {
    grid-template-columns: 1fr;
  }
  .element {
    width: 75vw;
    height: calc(75vw * 1.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .element__pic {
    width: 75vw;
    height: 75vw;
  }
}
