.imagen__display {
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 2;
  position: absolute;
  /* border: 1px aqua solid; */
}
.imagen__container {
  position: absolute;
  /* border: 1px red solid; */
  display: flex;
}
.imagen__pic {
  /* max-width: 35vw; */
  max-width: 600px;
  height: auto;
  width: auto;
  z-index: 2;
}
