.popup {
  width: 100%;
  height: 200%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* body.modal-open {
  overflow-x: hidden;
} */

.popup__container {
  position: absolute;
  top: 5%;
  width: 400px;
  height: 350px;
  background-color: white;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  z-index: 2;
}

.form {
  border: 0;
  /* Pone el margen y el padding dentro del contenedor: */
  box-sizing: border-box;
  width: 400px;
  height: 400px;
}

.popup__cerrarEP {
  position: relative;
  width: 25px;
  height: 25px;
  left: 200px;
  top: -74px;
}
.popup__cerrarNP {
  position: relative;
  width: 25px;
  height: 25px;
  left: 180px;
  top: -74px;
}

.popup__cerrarIMG {
  position: relative;
  width: 25px;
  height: 25px;
  left: 600px;
  top: -30px;
}

.popup__heading {
  font-family: Inter;
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0%;
  color: black;
  margin-left: 19px;
  position: relative;
  margin-top: 1px;
  padding-top: 0;
  position: relative;
  top: -20px;
}

.popup__button {
  font-family: Inter;
  font-weight: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0%;
  width: 300px;
  height: 50px;
  border: 1px #c4c4c4 solid;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__submit {
  width: 100%;
  background: #000;
  color: #fff;
  font-family: Inter;
  font-weight: normal;
  font-size: 1.1rem;
  border: none;
  border-radius: 4px;
  padding: 12px 0;
  margin-top: 8px;
  cursor: pointer;
  transition: background 0.2s;
}
.form__submit:hover {
  background: #222;
  opacity: 0.5;
}
.popup__button_disabled {
  width: 100%;
  background: white;
  color: gray;
  font-family: Inter;
  font-weight: normal;
  font-size: 1.1rem;
  border: 1px gray solid;
  border-radius: 4px;
  padding: 12px 0;
  margin-top: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.popup__button:hover {
  background-color: #595959;
}
.form__set {
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
  gap: 20px;
  /* border: 2px red solid; */
}

.popup__input {
  font-family: Inter;
  font-weight: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0%;
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #bcbcc4;
  background-color: transparent;
  width: 350px;
  height: 8vh;
}

.popup__input_type_error {
  font-family: Inter;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  color: red;
}

.popup__form {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  top: 0;
}

@media screen AND (max-width: 440px) {
  .popup__container {
    width: 300px;
    height: 320px;
  }
  .popup__cerrarEP {
    width: 25px;
    height: 25px;
    left: 140px;
    top: -60px;
  }
  .popup__cerrarNP {
    width: 25px;
    height: 25px;
    left: 140px;
    top: -60px;
  }
  .form {
    width: 300px;
    height: 300px;
  }
  .form__set {
    width: 280px;
    max-width: 280px;
  }
  .popup__heading {
    margin-left: 43px;
  }
  .popup__input {
    width: 230px;
  }
  .popup__button {
    width: 230px;
    height: 30px;
  }
}
@media screen AND (max-width: 350px) {
  .popup__container {
    width: 230px;
    height: 300px;
  }
  .popup__cerrarEP {
    width: 15px;
    height: 15px;
    left: 110px;
    top: -35px;
  }
  .popup__cerrarNP {
    width: 15px;
    height: 15px;
    left: 110px;
    top: -35px;
  }
  .form {
    width: 230px;
    height: 230px;
  }
  .form__set {
    width: 210px;
    max-width: 210px;
  }
  .popup__input {
    width: 180px;
    font-size: 12px;
  }
  .popup__heading {
    font-size: 16px;
    margin-left: 30px;
  }
  .popup__button {
    width: 180px;
    font-size: 14px;
  }
  .form__submit {
    width: 150px;
    height: 20px;
    font-size: 0.7rem;
    margin-top: 0;
    padding-top: 5px;
  }
}
@media screen AND (max-width: 250px) {
  .popup__container {
    width: 170px;
    height: 300px;
  }
  .popup__cerrarEP {
    width: 15px;
    height: 15px;
    left: 80px;
    top: -35px;
  }
  .popup__cerrarNP {
    width: 15px;
    height: 15px;
    left: 80px;
    top: -35px;
  }
  .form {
    width: 200px;
    height: 230px;
  }
  .form__set {
    width: 200px;
    max-width: 210px;
  }
  .popup__input {
    width: 120px;
    font-size: 10px;
  }
  .popup__input_type_error {
    font-size: 6px;
  }
  .popup__heading {
    font-size: 12px;
    margin-top: 1px;
    padding-top: 0;
    margin-left: 55px;
  }
  .popup__button {
    width: 120px;
    font-size: 14px;
  }
}
