.popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.popup_hidden {
  display: none;
}
.popup_opened {
  display: flex;
}

.popup__containerEP {
  position: absolute;
  border: 1px aqua solid;
  width: 400px;
  max-width: 400px;
  height: 55vh;
  max-height: 55vh;
  background-color: white;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  top: 5px;
  gap: 20px;
  z-index: 2;
}
.popup__containerNP {
  position: absolute;
  border: 1px aqua solid;
  width: 400px;
  max-width: 400px;
  height: 55vh;
  max-height: 55vh;
  background-color: white;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  top: 5px;
  gap: 20px;
  z-index: 2;
}
.popup__cerrarEP {
  width: 25px;
  height: 25px;
}
.popup__cerrarNP {
  width: 25px;
  height: 25px;
}
popup__cerrarIMG {
  width: 25px;
  height: 25px;
}
.popup-cerrar__container {
  position: relative;
  width: 25px;
  height: 25px;
  left: 400px;
  top: -40px;
  /* border: 1px red solid; */
}
.popup-cerrar__containerIMG {
  position: relative;
  width: 25px;
  height: 25px;
  left: 450px;
  top: -5px;
  /* border: 1px red solid; */
}
.popup__heading {
  font-family: Inter;
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0%;
  color: black;
  margin-left: 3vw;
  margin-top: 0;
  padding-top: 0;
}

.popup__button {
  font-family: Inter;
  font-weight: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0%;
  width: 25vw;
  height: 50px;
  border: 1px #c4c4c4 solid;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-top: 30px;
}
.popup__button:hover {
  border: 2px rgb(0, 110, 255) solid;
}
.popup__fieldset {
  border: 0;
  /* border: 1px blue solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
  gap: 20px;
}

.popup__name {
  font-family: Inter;
  font-weight: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0%;
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #bcbcc4;
  background-color: transparent;
  width: 25vw;
  height: 8vh;
}
.popup__profession {
  font-family: Inter;
  font-weight: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0%;
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #bcbcc4;
  background-color: transparent;
  width: 25vw;
  height: 8vh;
}
.popup__form-box {
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #bcbcc4;
  background-color: transparent;
  width: 30vw;
  height: 8vh;
}

@media screen AND (max-width: 1500px) {
  .popup__containerEP {
    width: 60vw;
    height: 85vh;
    top: 10vh;
    left: 20vw;
  }
  .popup__containerNP {
    width: 60vw;
    height: 85vh;
    top: 10vh;
    left: 20vw;
  }
  .popup__cerrarEP {
    top: -20px;
    left: 60vw;
  }
}
