.profile {
  width: 95vw;
  max-width: 880px;
  display: flex;
  justify-content: space-between;
  /* border: 1px aqua solid; */
  margin: 0;
}
.profile__info {
  padding: 0;
  padding-left: 20px;
  margin: 0 auto;
  width: 85%;
  max-width: 85%;
  /* border: 1px red solid; */
  display: flex;
  justify-content: space-between;
}

.profile__user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  row-gap: 10px;
  /* border: 1px aqua solid; */
  padding-left: 30px;
}

.profile__photo-container {
  width: 10vw;
  height: 10vw;
  /* border: 1px green solid; */
}
.profile__photo {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  margin-top: -15px;
  margin-left: 40px;
}

.profile__name-container {
  /* border: 1px aqua solid; */
  width: 20vw;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-left: 30px;
}
.profile__name {
  font-family: Inter;
  font-weight: 500;
  font-size: 35px;
  line-height: 1;
  letter-spacing: 0%;
  padding: 0;
  margin: 0;
  /* border: 1px aqua solid; */
}
.profile__profession {
  font-family: Inter;
  font-weight: lighter;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0%;
  padding: 0;
  margin: 0;
  /* border: 1px aqua solid; */
}
.profile__botonedit-container {
  position: relative;
  margin-right: 50px;
  left: 20px;
  top: 8px;
  width: 62px;
  height: 32px;
  padding: 0;
}
.profile__boton-edit {
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: none;
  height: 30px;
  width: 60px;
  margin: 0;
  padding: 0;
  margin-top: 1px;
  margin-left: 15px;
  background-color: #2a2c2f;
}

.profile__edit-image {
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  padding: 0;
  margin: 0;
}

.profile__plus-container {
  border: 1px white solid;
  width: 150px;
  height: 45px;
  text-align: center;
  /* margin-top: 20px; */
}
.profile__plus-container_solid {
  border: 2px gray solid;
}

.profile__plus {
  margin-top: 10px;
}

/* Media queries para responsividad: */
@media screen AND (max-width: 807px) {
  .profile__info__name {
    font-size: 30px;
  }
}

@media screen AND (max-width: 780px) {
  .profile__info {
    width: 80%;
    margin: 0 auto;
    padding-left: 0;
  }
  .profile__plus-container {
    width: 30px;
    height: 25px;
    margin-top: 0;
    margin-left: 0;
  }
  .profile__plus {
    width: 12px;
  }
}

@media screen AND (max-width: 400px) {
  .profile__info {
    flex-direction: column;
    align-items: flex-start;
    width: 80vw;
    max-width: 80vw;
    padding-left: 0;
    left: 20px;
  }
  .profile__user {
    justify-content: left;
    column-gap: 0;
    padding-left: 0;
    width: 80vw;
    max-width: 80vw;
    padding: 0;
  }
  .profile__photo {
    max-width: 40px;
    max-height: 40px;
    padding: 0 auto;
    margin-top: 0;
    margin-left: 0;
  }
  .profile__photo-container {
    width: 42px;
    max-width: 42px;
    height: 20px;
    max-height: 20px;
    padding: 0 auto;
    /* border: aqua 1px solid; */
  }
  .profile__name {
    font-size: 8px;
  }
  .profile__profession {
    font-size: 6px;
  }
  .profile__boton-edit {
    width: 20px;
    height: 20px;
    position: relative;
    margin-top: 1px;
    margin-left: 15px;
  }
  .profile__plus-container {
    width: 25px;
    max-width: 25px;
    height: 30px;
    max-height: 30px;
    margin-left: 0;
    padding-left: 0;
    right: -40px;
  }
  .profile__edit-image {
    left: -20px;
  }
}

@media screen AND (max-width: 320px) {
  .profile__info {
    flex-direction: column;
    width: 75%;
  }
  .profile__user {
    width: 70%;
    max-width: 70%;
  }
  .profile__photo {
    max-width: 40px;
    max-height: 40px;
    padding: 0 auto;
    margin-top: 0;
    margin-left: 0;
  }
  .profile__photo-container {
    width: 42px;
    max-width: 42px;
    height: 20px;
    max-height: 20px;
    padding: 0 auto;
    /* border: aqua 1px solid; */
  }
  .profile__name {
    font-size: 10px;
  }
  .profile__profession {
    font-size: 8px;
  }

  .profile__boton-edit {
    width: 20px;
    height: 20px;
    position: relative;
    margin-top: 1px;
    margin-left: 15px;
  }
  .profile__plus-container {
    width: 25px;
    max-width: 25px;
    height: 30px;
    max-height: 30px;
    /* margin: 4vh auto; */
    border: 1px aqua solid;
  }
}
@media screen AND (max-width: 300px) {
  .profile__photo {
    max-width: 20px;
    max-height: 20px;
  }
  .profile__photo-container {
    width: 22px;
    max-width: 22px;
    height: 20px;
    max-height: 20px;
  }
  .profile__user {
    width: 70%;
    max-width: 70%;
  }
  .profile__name {
    font-size: 6px;
  }
  .profile__profession {
    font-size: 4px;
  }
  .profile__boton-edit {
    width: 10px;
    height: 10px;
    margin-top: 1px;
    margin-left: 5px;
  }
  .profile__plus-container {
    width: 10px;
    max-width: 10px;
    height: 10px;
    max-height: 10px;
    /* margin: 4vh auto; */
    /* border: 1px aqua solid; */
  }
}
