.profile {
  width: 95vw;
  max-width: 880px;
  display: flex;
  justify-content: space-between;
  /* border: 1px aqua solid; */
  margin: 0;
}
.profile__info {
  padding: 0;
  padding-left: 20px;
  margin: 0 auto;
  width: 85%;
  max-width: 85%;
  /* border: 1px red solid; */
  display: flex;
  justify-content: space-between;
}

.profile__photo-container {
  width: 10vw;
  height: 10vw;
  /* border: 1px green solid; */
}
.profile__photo {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  margin-top: -15px;
  margin-left: 40px;
}
.profile__user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  row-gap: 10px;
  /* border: 1px aqua solid; */
  padding-left: 30px;
}
.profile__name-container {
  /* border: 1px aqua solid; */
  width: 20vw;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-left: 30px;
}
.profile__name {
  font-family: Inter;
  font-weight: 500;
  font-size: 35px;
  line-height: 1;
  letter-spacing: 0%;
  padding: 0;
  margin: 0;
  /* border: 1px aqua solid; */
}
.profile__profession {
  font-family: Inter;
  font-weight: lighter;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0%;
  padding: 0;
  margin: 0;
  /* border: 1px aqua solid; */
}
.profile__botonedit-container {
  /* padding-right: 2px; */
  position: relative;
  margin-right: 50px;
  left: 20px;
  top: 8px;
  width: 62px;
  /* height: 22px;
  width: 22px; */
  height: 32px;
  padding: 0;
  /* border: 2px blue solid; */
}
.profile__boton-edit {
  /* border-style: none; */
  /* width: 29px; */
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: none;
  height: 30px;
  width: 60px;
  margin: 0;
  padding: 0;
  margin-top: 1px;
  margin-left: 15px;
  background-color: #2a2c2f;
}

.profile__edit-image {
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  padding: 0;
  margin: 0;
}

.profile__plus-container {
  border: 1px white solid;
  width: 150px;
  height: 45px;
  text-align: center;
  /* margin-top: 20px; */
}
.profile__plus-container_solid {
  border: 2px gray solid;
}

.profile__plus {
  margin-top: 10px;
}

/* Media queries para responsividad: */
@media screen AND (max-width: 807px) {
  .profile__info__name {
    font-size: 30px;
  }
}

@media screen AND (max-width: 750px) {
  .profile__info__name {
    font-size: 20px;
  }
}

@media screen AND (max-width: 700px) {
  .profile__info {
    width: 90%;
    margin: 0 auto;
  }
  .profile__info__name {
    font-size: 13px;
  }
  .profile__info__profession {
    font-size: 10px;
    /* text-align: center; */
  }
  .profile__plus-container {
    width: 100px;
    height: 35px;
    text-align: center;
    margin-top: 0;
    margin-left: 0;
  }
  .profile__plus {
    width: 12px;
  }
}

@media screen AND (max-width: 480px) {
  .profile__info__name {
    font-size: 8px;
  }
  .profile__info__profession {
    font-size: 5px;
    /* text-align: center; */
  }
}

@media screen AND (max-width: 422px) {
  .profile__info__name {
    font-size: 6px;
  }
  .profile__info__profession {
    font-size: 4px;
    /* text-align: center; */
  }
}

@media screen AND (max-width: 320px) {
  .profile__info {
    flex-direction: column;
  }
  .profile__photo {
    max-width: 50vw;
    max-height: 50vw;
    padding: 0 auto;
  }
  .profile__photo-container {
    width: 50vw;
    height: 50vw;
    padding: 0 auto;
  }
  .profile__user {
    padding: 0;
  }
  .profile__info_name {
    font-size: 15px;
  }
  .profile__info__profession {
    font-size: 12px;
    text-align: center;
  }
  .profile__boton-edit {
    width: 20px;
    height: 20px;
    position: relative;
    margin-top: 1px;
    margin-left: 15px;
  }
  .profile__plus-container {
    width: 95%;
    margin: 4vh auto;
  }
}
